@import "normalize";
@import "variables";

// SFProText font
@font-face {
  font-family: "SFProText";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("SFProText"), local("SFProText-Regular"), url("#{$font-path-base}/SFProText-Regular.ttf") format("ttf");
}

// CORE
@import "bootstrap";
@import "mixins";
@import "typography";
@import "layout";
@import "ui_elements";